.App {
  text-align: center;
}
#Add{
 background-color: green;
}
.header{
  flex-wrap: wrap;
}
/* table {
  table-layout: fixed;
  width: 50%;
  height: fit-content;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 5%;
}

th,
td {
  padding: 20px;
} */
